@using EntitylayerCore.Concrete;
@model List<Notification>


@{
    ViewData["Title"] = "AllowNotification";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
    int count = 0;
}
<table class="table Basic form elements">
    <tr>
        <th>#</th>
        <th>Başlıq</th>
        <th>Hazırlanma Vaxdı</th>
      @*  <th>Saytda Bax</th>
        <th>Sil</th>
        <th>Yenilə</th>*@
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NotificationDetails"</td>
            <td>@(((DateTime)item.NotificationDate).ToString("dd-MMM-yyyy"))</td>
         
@*            <td><a href="/Blog/BloglistByWriter/@item.BlogId" class="btn btn-outline-info">Saytda Gör</a></td>
            <td><a href="/Blog/Delete/@item.BlogId/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Blog/Update/@item.BlogId/" class="btn btn-outline-success">Yenilə</a></td>*@
        </tr>
    }
</table>
@*<a href="/Blog/Add/" class="btn btn-outline-primary">Yeni</a>*@