
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pug Error Page Responsive Widget Template :: W3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="Pug Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //Meta tag Keywords -->
	<link rel="stylesheet" href="~/web404/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>

<body>
	<!-- error -->
	<section class="w3l-error-9">
		<div class="error-page">
			<div class="wrapper-full">
				<div class="main-content">
					<h2>Təəssüf</h2>
					<p>Bu səhifəyə keçid etmək üçün icazəniz yoxdur. Aşağıdakı buttonların köməyi ilə sayta keçid edin və ya bizimlə əlaqə saxlayın...</p>
					<!-- buttons -->
					<div class="buttons">
						<a href="/Blog/Index/" class="btn brk-btn-bg brk-btn">
							Sayta Keçid Et
						</a>
						<a href="/Contact/Index/" class="btn brk-btn">
							Bizimlə Əlaqə
						</a>
					</div>
				</div>
				<div class="bottom-header">
					<!-- copyright -->
					<div class="copyrights text-center">
						<p>
							© @DateTime.Now.Year Bütün haqqlar qorunur | Design by Şəhriyar Hacıyev
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //error -->
</body>

</html>
