@model UserSignUpViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Qeydiyyat Səhifəsi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Quick Register Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<link href="~/webreg/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="~/webreg/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
	<div class="signupform">
		<h1>SÜRƏTLİ QEYDİYYAT</h1>
		<div class="container">

			<div class="agile_info">
				<div class="w3_info">
					<h2>Qeydiyyat</h2>
					<form method="post" asp-action="SignUp" asp-controller="RegisterUser">
						<div class="left margin">
							<label>Adiniz</label>
							<div class="input-group">
								<span asp-validation-for="@Model.name"></span>
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="name" placeholder="Adınız"  required="" >
							</div>
						</div>
						<div class="left">
							<label>Soyadınız</label>
							<div class="input-group">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="surname" placeholder="Soyadınız" required="">
							</div>
						</div>
						<div class="left">
							<label>İstifadəçi Adı</label>
							<div class="input-group">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="userName" placeholder="İstifadəçi Adı" required="">
							</div>
						</div>
						<div class="left">
							<label>Şəkil</label>
							<div class="input-group">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="imageurl" placeholder="Şəkil link" required="">
							</div>
						</div>
						<div class="left margin">
							<label>Mail Adresiniz</label>
							<div class="input-group">
								<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<input type="email" name="mail" placeholder="Mail ünvanınız" required="">
							</div>
						</div>
						<div class="left">
							<label>Telefon Nömrəniz</label>
							<div class="input-group">
								<span><i class="fa fa-phone" aria-hidden="true"></i></span>
								<input type="text" name="phoneNumber" placeholder="Telofon nömrəniz" required="">
							</div>
						</div>
						<div class="left margin">
							<label>Şifrəniz</label>
							<div class="input-group">
								<span><i class="fa fa-lock" aria-hidden="true"></i></span>
								<input type="Password" name="password" placeholder="Şifrəniz" required="">
							</div>
						</div>
						<div class="left">
							<label>Şifrənizi Təkrar Daxil Edin</label>
							<div class="input-group">
								<span><i class="fa fa-lock" aria-hidden="true"></i></span>
								<input type="Password" name="confirmPassword" placeholder="Şifrənizi Təkrar Daxil Edin" required="">
							</div>
						</div>
						<div class="clear"></div>
@*						<input type="checkbox" value="remember-me" /> <h4> Saytın şərtləri ilə razıyam</h4>
*@						<button class="btn btn-danger btn-block" type="submit">Təsdiqlə <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
					</form>
				</div>
				<div class="w3l_form">
					<div class="left_grid_info">
						<h3>Nə Üçün Qeydiyyatdan Keçməlisiniz?</h3>
						<p> Saytımızda qeydiyyatdan keçməklə öz bloglarınızı paylaşa bilərsiniz, siz bununla öz məqalələrinizi bütün üzvlərimizlə bölüşə bilərsiniz.</p>
						<a href="/Login/Index/" class="btn">Daxil ol <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="footer">
			© @DateTime.Now.Year Bütün haqqlar qorunur | Design by Şəhriyar Hacıyev
		</div>
	</div>
</body>
</html>


