@using EntitylayerCore.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllowNotification";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bildirişlər</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Bildiriş</th>
                                <th>Tarix</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
    {
                            <tr>
                                    <td>
                                        @item.NotificationID
                                    </td>
                            
                               
                                    <td> @item.NotificationDetails  </td>
                              
                                    <td> @(((DateTime)item.NotificationDate).ToString("dd-MMM-yyyy"))</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
