
<li>
    <a href="/Admin/Message/Index/"><i class="fa fa-envelope"></i> <span class="nav-label">Mesaj Qutusu </span><span class="label label-warning float-right">@ViewBag.saymesaj1 / @ViewBag.saymesaj2 </span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="/Admin/Message/Index/"><i class="fa fa-inbox"></i> Mesaj Qutusu</a></li>
        <li><a href="/Admin/Message/Send/"><i class="fa fa-mail-reply"></i>Gələn Mesajlar</a></li>
        <li><a href="/Admin/Message/Add/"><i class="fa fa-plus-square"></i>Yeni Mesaj</a></li>
        <li><a href="/Admin/Message/MailSend"><i class="fa fa-plus-square-o"></i>Yeni Email </a></li>
    </ul>
</li>
<li>
    <a href="/Admin/Blog/Index"><i class="fa fa-dedent"></i> <span class="nav-label">Bloglar</span><span class="label label-warning float-right">@ViewBag.saymesaj3</span> </a>
</li>
<li>
    <a href="/Admin/Category/Index"><i class="fa fa-tags"></i> <span class="nav-label">Kateqoriyalar</span> <span class="label label-warning float-right">@ViewBag.saymesaj4</span> </a>
</li>